* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #000;
}
#container {
  width: 1800px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
#navegacao {
  margin: 30px 150px 0 0;
}
#navegacao a {
  margin: 10px 20px;
  padding-left: 5px;
  text-decoration: none;
  color: #fff;
}
#navegacao a:hover {
  border-bottom: 1px solid #fff;
}
#capa {
  display: flex;
  justify-content: center;
  width: 90%;
}
#nome-capa {
  width: 43%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 6em;
  margin: 0 60px;
}
#foto-capa img {
  width: 710px;
  margin-left: 60px;
  position: relative;
  right: -80px;
}
.linha {
  position: relative;
  top: -19px;
}
.linha img {
  width: 95%;
  height: 1px;
}

#conteudo {
  width: 50%;
  padding: 20px;
}
#conteudo h2,
#conteudo-campanha h2 {
  color: #fff;
}
#conteudo p,
#conteudo-campanha p {
  font-size: 1.2em;
}
#conteudo p,
#conteudo-campanha p,
#rodape {
  color: #fff;
  margin: 15px 0;
}

/*campanhas publicitarias*/
#conteudo-campanha {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.galeria-foto {
  display: flex;
  flex-direction: row;
}
.foto {
  width: 372px;
  display: flex;
  margin: 0 auto;
}
.foto img {
  width: 100%;
}

#rodape {
  text-align: center;
}
