* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #000;
}
#container {
  width: 1800px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
#navegacao {
  margin: 30px 150px 0 0;
}
#navegacao ul li {
  display: inline;
}
#navegacao a {
  margin: 10px 20px 0 0;
  padding-bottom: 5px;
  text-decoration: none;
  color: #fff;
}
#navegacao a:hover {
  border-bottom: 1px solid #fff;
}
#home .home a,
#campanhas .campanhas a,
#contato .contato a {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}
#capa {
  display: flex;
  justify-content: center;
  width: 90%;
}
#nome-capa {
  width: 43%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 6em;
  margin: 0 60px;
}
#foto-capa img {
  width: 710px;
  margin-left: 60px;
  position: relative;
  right: -80px;
}
.linha {
  position: relative;
  top: -19px;
}
.linha img {
  width: 95%;
  height: 1px;
}

#conteudo {
  width: 50%;
  padding: 20px;
}
#conteudo h2,
#conteudo-campanha h2 {
  color: #fff;
}
#conteudo p,
#conteudo-campanha p {
  font-size: 1.2em;
}
#conteudo p,
#conteudo-campanha p,
#rodape {
  color: #fff;
  margin: 15px 0;
}

/*campanhas publicitarias*/
#conteudo-campanha {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.galeria-foto {
  display: flex;
  flex-direction: row;
}
.foto {
  width: 372px;
  display: flex;
  margin: 0 auto;
}
.foto img {
  width: 100%;
}
/*Contato*/
#nome-capa-contato {
  width: 43%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 6em;
}
#form-contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-conteudo {
  width: 90%;
  position: relative;
  left: 200px;
  bottom: -90px;
}
#formulario #nome,
#formulario #email,
#formulario #form-texto {
  margin: 30px 0;
}
#formulario label {
  color: #fff;
  font-size: 1.5em;
  display: block;
  margin: 10px 0;
}
#formulario input {
  width: 80%;
  height: 30px;
  padding: 0 10px;
  font-size: 1.2em;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
#formulario #form-texto textarea {
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 10px;
}
#formulario #button {
  width: 62%;
  display: flex;
  justify-content: flex-start;
}

#formulario button {
  width: 50%;
  height: 40px;
  font-size: 1.2em;
  background: #fff;
  border: none;
  border-radius: 5px;
}
#formulario button:hover {
  background: #ccc;
}

#rodape {
  text-align: center;
}
